<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<link href="css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<script type="text/javascript">
$(function () {
    /*$.ajax({
        type:"POST",
        url:"store/findbyid?id=1&status=1",
        success:function(data){
            var stuNum = $("#Name");
            stuNum.text(data.stores.name);
            var userName = $("#Contact");
            userName.text(data.stores.contact);
    }, 
       error:function(jqXHR,textStatus,errorThrown){
        alert("error");
    }
    });*/
    
    $.ajax({
        type:"POST",
        url:"district/1",
        success:function(data){
            var disList = $("#District");
            disList.append("<option value=\"0\">全部</option>");
            for(var i=0 ; i<data.district.length ; i++){
            	disList.append("<option value="+(i+1)+">"+data.district[i].name+"</option>");
            }
    }, 
       error:function(jqXHR,textStatus,errorThrown){
        alert("error");
    }
    });
    
    $.ajax({
        type:"POST",
        url:"type/1",
        success:function(data){
            var typeList = $("#Type");
            typeList.append("<option value=\"0\">全部</option>");
            for(var i=0 ; i<data.type.length ; i++){
                typeList.append("<option value="+(i+1)+">"+data.type[i].name+"</option>");
            }
    }, 
       error:function(jqXHR,textStatus,errorThrown){
        alert("error");
    }
    });
    
    function isEmptyObject(e) {  
        var t;  
        for (t in e)  
            return !1;  
        return !0  
    } 
    $("#random").click(function(){
    	var district = $("#District").val();
    	var type = $("#Type").val();
    	$.ajax({
            type:"GET",
            url:"random/"+district+"/"+type,
            success:function(data){
               $("#Name").text("店名："+data.store.name);
               $("#Contact").text("联系方式："+data.store.contact);
               if(!isEmptyObject(data.pics)){
            	   console.log(data.pics);
            	   $("#img").attr("src",data.pics[0].pic);
               }else{
            	   console.log("pics is null");
            	   $("#img").attr("src",null);
               }
        }, 
           error:function(jqXHR,textStatus,errorThrown){
            alert("error");
        }
        });
    })
    
});
</script>
<div class="header">
            <ul>
                <li class="title"><a href="http://ghy.swufe.edu.cn/swufenews/">新闻</a></li>
                <li class="title"><a href="http://ghy.swufe.edu.cn/idea08/">思想</a></li>
                <li class="title"><a href="http://ghy.swufe.edu.cn/study09/">学习</a></li>
                <li class="title"><a href="http://ghy.swufe.edu.cn/life/">生活</a></li>
                <li class="logo"><a href="http://ghy.swufe.edu.cn/"><img src="img\logo_20140419.png"/></a></li>
                <li class="title"><a href="http://ghy.swufe.edu.cn/lit08/">文苑</a></li>
                <li class="title"><a href="http://ghy.swufe.edu.cn/music09/">音乐</a></li>
                <li class="title"><a href="http://ghy.swufe.edu.cn/movie11/">电影</a></li>
                <li class="title"><a href="http://soft.ghy.swufe.edu.cn/">软件</a></li>
            </ul>
        
    </div>
    <div class="bottom">
        <select id="District"></select>
        <select id="Type"></select>
        <button id="random">随机</button>
        <p id="Name"></p>
        <p id="Contact"></p>
        <img id="img" src=""/>
    </div>
</body>
</html>